<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<footer th:fragment="footer">
    <div class="container">
        © Totallycopyrighted 2017
        <span sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"></span> |
                <a th:href="@{/logout}">Sign Out</a></span>
    </div>
    <div th:replace="fragments/scriptsFragment :: scripts"></div>
</footer>
</html>
