<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">


<div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="newModalLabel"
     aria-hidden="true" th:fragment="newModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newModalLabel">New PIN</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" th:action="@{/pins/new}" th:object="${pin}" method="POST">
                    <label for="account">Account</label>
                    <input type="text" class="form-control"
                           placeholder="Account"
                           name="Account" id="account"
                           th:field="*{account}"/>
                    <label for="expire-timestamp">Expire Date (Optional - Defaults to +48 hours)</label>
                    <input type="date" th:type="date" class="form-control"
                           placeholder="Expiration (Optional)"
                           name="ExpireTimestamp" id="expire-timestamp" th:id="expire_timestamp"
                           th:field="*{expire_timestamp}"/>
                    <label for="expire-seconds">Expire Time (Optional)</label>
                    <div>
                        <input id="expire-seconds" type="time" name="expire-seconds"
                               step="2" th:field="*{expire_time}"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Submit Form"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $('#datetimepicker').datepicker({
        format: 'mm/dd/yyyy',
        startDate: '+2d'
    });
</script>
</html>


<!--<!DOCTYPE html>-->
<!--<html lang="en"-->
<!--xmlns:th="http://www.thymeleaf.org">-->

<!--<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"-->
<!--aria-hidden="true" th:fragment="editModal">-->
<!--<div class="modal-dialog" role="document">-->
<!--<div class="modal-content">-->
<!--<div class="modal-header">-->
<!--<h5 class="modal-title" id="editModalLabel">Edit</h5>-->
<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--<span aria-hidden="true">&times;</span>-->
<!--</button>-->
<!--</div>-->
<!--<div class="modal-body">-->
<!--&lt;!&ndash;<form action="#" th:action="@{/pins/edit}" th:object="${pin}" method="POST">&ndash;&gt;-->
<!--&lt;!&ndash;<input type="text" class="form-control"&ndash;&gt;-->
<!--&lt;!&ndash;placeholder="oid"&ndash;&gt;-->
<!--&lt;!&ndash;name="Oid"&ndash;&gt;-->
<!--&lt;!&ndash;id="rOid" value="test" th:field="*{oid}"/>&ndash;&gt;-->
<!--&lt;!&ndash;<input type="text" placeholder="Account" class="form-control"&ndash;&gt;-->
<!--&lt;!&ndash;name="Address" id="rAccount" th:field="*{account}"/>&ndash;&gt;-->
<!--&lt;!&ndash;<input type="text" placeholder="PIN" class="form-control"&ndash;&gt;-->
<!--&lt;!&ndash;name="PIN" id="rPIN" th:field="*{pin}"/>&ndash;&gt;-->


<!--&lt;!&ndash;<div class="modal-footer">&ndash;&gt;-->
<!--&lt;!&ndash;<input type="submit" class="btn btn-primary" value="Submit Form"/>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</html>-->
