<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="response-content">
    <div class="card bg-light mb-3 border-light ">
        <p class="text-center">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse"
                    aria-expanded="false" aria-controls="requestCollapse resultCollapse">Toggle Hide/Unhide
            </button>
        </p>
        <div class="row">
            <div class="col">
                <div class="collapse multi-collapse show" id="requestCollapse">
                    <div class="card card-body">
                        <h5 class="card-title">Request</h5>
                        <pre th:if="${requestUrl != ''}" th:text="'URL: ' +  ${requestUrl}"></pre>
                        <h6 class="card-title">Body</h6>
                        <pre th:text="${request}"></pre>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="collapse multi-collapse show" id="resultCollapse">
                    <div class="card card-body">
                        <h5 class="card-title">Response</h5>
                        <h6 class="card-title">Body</h6>
                        <pre th:text="${result}"></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
