<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>home</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>

<body>
<div th:replace="fragments/editModal :: editModal" id="editModal">...</div>

<div th:replace="fragments/header :: header">...</div>

<div class="container">
    <h2>Group Credentials</h2>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th class="">№</th>
            <th class="">Account</th>
            <th class="">PIN</th>
            <th class="">Create by IP</th>
            <th class="">Created by User</th>
            <th class="">Created Timestamp</th>
            <th class="">Expire Timestamp</th>
            <th class="">Claim User</th>
            <th class="">Claim IP</th>
            <th class="">Edit</th>
            <th class="">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pin : ${pins}">
            <td class="" th:text="${pin.oid}"></td>
            <td class="" th:text="${pin.account}"></td>
            <td class="" th:text="${pin.pin}"></td>
            <td class="" th:text="${pin.create_user}"></td>
            <td class="" th:text="${pin.create_ip}"></td>
            <td class="" th:text="${pin.create_timestamp}"></td>
            <td class="" th:text="${pin.expire_timestamp}"></td>
            <td class="" th:text="${pin.claim_user}"></td>
            <td class="" th:text="${pin.claim_ip}"></td>
            <td style="text-align:center;">
                <!--<button class="btn btn-success" id="editBtn" contenteditable="false">Edit</button>-->
                <a class="btn btn-success" href="#" type="button" data-toggle="modal" data-target="#editModal">Edit</a>
            </td>
            <td style="text-align:center;">
                <a class="btn btn-success" href="#" type="button" th:href="@{'/pins/delete/' + ${pin.oid}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<div th:replace="fragments/footer :: footer"></div>

<!--<script th:inline="javascript" type="text/javascript">-->
    <!--/*<![CDATA[*/-->
    <!--$(".btn[data-target='#editModal']").click(function() {-->
        <!--var columnHeadings = $("thead th").map(function() {-->
            <!--return $(this).text();-->
        <!--}).get();-->
        <!--columnHeadings.pop();-->
        <!--var columnValues = $(this).parent().siblings().map(function() {-->
            <!--return $(this).text();-->
        <!--}).get();-->
        <!--var modalBody = $('<div id="modalContent"></div>');-->
        <!--var action = /*[[@{/pins/edit} ]]*/ 'placeholder';-->
        <!--var modalForm = $('<form role="form" name="modalForm" th:object="${pin}" method="POST"></form>');-->
        <!--$.each(columnHeadings, function(i, columnHeader) {-->
            <!--var formGroup = $('<div class="form-group"></div>');-->
            <!--formGroup.append('<label for="'+columnHeader+'">'+columnHeader+'</label>');-->
            <!--formGroup.append('<input class="form-control" name="'+columnHeader+i+'" id="'+columnHeader+i+'" value="'+columnValues[i]+'" />');-->
            <!--modalForm.append(formGroup);-->
        <!--});-->
        <!--modalBody.append(modalForm);-->
        <!--modalBody.append('<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>');-->
        <!--modalBody.append('<input type="submit" class="btn btn-primary" value="Submit Form"/>');-->

        <!--$('.modal-body').html(modalBody);-->
    <!--});-->
    <!--$('.modal-footer .btn-primary').click(function() {-->
        <!--$('form[name="modalForm"]').submit();-->
    <!--});-->
    <!--/*]]>*/-->
<!--</script>-->
</body>

</html>
