<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Temp PIN Table</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>

<body>
<div th:replace="fragments/newModal :: newModal" id="newModal">...</div>

<div th:replace="fragments/header :: header">...</div>

<div class="container" style="margin-top:100px">
    <h2>Group Credentials</h2>

    <table class="table table-bordered table-striped table-hover table-responsive">
        <thead class="thead-inverse">
        <tr>
            <th class="">№</th>
            <th class="">Account</th>
            <th class="">PIN</th>
            <th class="">Created by User</th>
            <th class="">Create by IP</th>
            <th class="">Created Timestamp</th>
            <th class="">Expire Timestamp</th>
            <th class="">Claim User</th>
            <th class="">Claim IP</th>
            <th class="">Claim Timestamp</th>
            <th class="">Edit</th>
            <th class="">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pin : ${pins}">
            <td class="" th:text="${pin.oid}"></td>
            <td class="" th:text="${pin.account}"></td>
            <td class="" th:text="${#numbers.formatInteger(pin.pin, 6)}"></td>
            <td class="" th:text="${pin.create_user}"></td>
            <td class="" th:text="${pin.create_ip}"></td>
            <td class="" th:text="${#temporals.format(pin.create_timestamp,'yyy/MM/dd HH:mm:ss')}"></td>
            <td class="" th:text="${#temporals.format(pin.expire_timestamp,'yyy/MM/dd HH:mm:ss')}"></td>
            <td class="" th:text="${pin.claim_user}"></td>
            <td class="" th:text="${pin.claim_ip}"></td>
            <td class=""
                th:text="(${pin.claim_timestamp} != null) ? ${#temporals.format(pin.claim_timestamp,'yyy/MM/dd HH:mm:ss' )} : ''"></td>
            <td style="text-align:center;">
                <a class="btn btn-success" href="#" type="button"
                   th:href="@{'/pins/claim/' + ${pin.account} + '/' + ${pin.pin} + '/' + ${#authentication.getPrincipal().getUsername()}}">Claim</a>
            </td>
            <td style="text-align:center;">
                <a class="btn btn-success" href="#" type="button" th:href="@{'/pins/delete/' + ${pin.oid}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <p><a class="btn btn-secondary" href="#" type="button" data-toggle="modal" data-target="#newModal">New PIN
        &raquo;</a></p>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>

</html>
